@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Work Sans';
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* NavBar */
.navbar {
  background: #1e2326;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 0.5rem;
}

.navbar-collapse {
  max-width: 1100px;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  margin: auto;

}

.nav-item :hover {
  color: #1CB698;
}

.navbar-brand {
  font-family: 'Righteous';
  font-weight: bold;
  font-size: 26px;
  color: #1CB698;
}

.hero {
  background-image: linear-gradient(to top, rgba(30, 35, 38, .8), rgba(30, 35, 38, 0.5)), url(/assets/imgs/hero.jpg);
  background-size: cover;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  background-attachment: fixed;
}

.background {
  padding: 20px;
  background-color: #1e2326;
  max-width: 350px;
  margin: auto;
  text-align: center;
  border-radius: 40px;
}

.picture {
  margin-top: 40px;
  border: 10px solid #1CB698;
  display: block;
  width: 80%;
  margin: auto;
  border-radius: 100%;
}

.hero-texts h1 {
  margin-top: 40px;
  font-size: 42px;
  font-family: 'Righteous';

}

.hero-title {
  font-size: 2rem;
  font-family: 'Righteous';
}

.hero-copy {
  font-size: 15px;
  font-weight: normal;
}

.btn:hover {
  background-color: #1CB698
}

.btn-hero a {
  margin-right: 20px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.sobre-mi {
  height: 500px;
  padding: 10px;
}

.sobre-mi .contenedor {
  max-width: 1100px;
  margin: auto;

}

.sobre-mi h2 {
  font-size: 48px;
  font-family: 'Righteous';
  text-align: center;
  padding: 20px 0;
}

h2 {
  font-size: bold;
}

.badge {

  background-color: #1cb698 !important;
}

.oscuro {
  background-color: #1e2326;
  color: #fff;
  padding: 50px 20px;
}


/* SKILL */

.skills {
  background-color: #252A2E;
  color: #fff;
  padding: 50px 20px;
}

.skills h2 {
  font-size: 48px;
  font-family: 'Righteous';
  text-align: center;
  padding: 20px 0;
}

.skills .columna {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.skills .columna:hover {
  color: white;
  background: linear-gradient(135deg, #1cb698 0%, #8182a4 100%);
}

.skills i {
  font-size: 1.5rem;
  color: #7ade30;
  padding: 8px 19px;
  border-radius: 50%;
}

.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.badge {
  margin: 5px;
}

/* portfolio */
.portfolio {
  background-color: #252A2E;
  color: #fff;
  padding: 50px 20px;
}

.portfolio img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}

.portfolio-contenedor {
  max-width: 1100px;
  padding-top: 60px;
  margin-bottom: 40px;
}

.portfolio h2 {
  font-size: 48px;
  font-family: 'Righteous';
  text-align: center;
  padding: 20px 0;
}


.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 0;
}

.proyecto {
  position: relative;
}

.proyecto:hover img {
  opacity: 0.2;
}

.proyecto:hover .overlay {
  opacity: 1;
}

.overlay .iconos-contenedor {
  display: flex;
}

.overlay i {
  color: white;
  font-size: 30px;
  margin: 10px;
}

/* CONTACTO */

.contacto {
  background-image: linear-gradient(to top, rgba(30, 35, 38, .8), rgba(30, 35, 38, 0.5)), url(/assets/imgs/fondo2.png);
  background-color: #1e2326;
  color: #fff;
  padding: 50px 0;
  background-attachment: fixed;
}

/* SECCION CONTACTO */

.contenido-seccion h2 {
  font-size: 48px;
  font-family: 'Righteous';
  text-align: center;
  padding: 20px 0;
}

.campos input,
textarea {
  display: block;
  width: 100%;
  padding: 18px;
  border: none;
  margin-bottom: 20px;
  background-color: #252A2E;
  color: #fff;
  font-size: 18px;
  resize: none;
}

.contenido-seccion button {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #fff;
  display: block;
  margin: 20px auto;
  padding: 10px 22px;
  font-size: 16px;
  color: #fff;
}

/* FOOTER */

.btn-mail {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
}

.footer i {
  margin: 0 0.25em 0.5em 0.25em;
  color: #fff;
}

.text-white {
  font-family: 'Righteous';
  margin: 20px;
}

/* reposive */

@media screen and (max-width: 768px) {
  .navbar-brand {
    display: none;
  }

  .campos input,
  textarea {
    width: 80%;
    margin: 0 auto 20px;
  }
}